#site_header{
    padding: 1rem;
    background-image: url(../img/wall.png);
    z-index: -1;
    font-family: "Edu TAS Beginner", cursive;
    margin-bottom: 3rem;
    h1{
        font-size: 3.5rem;
        font-weight: 600;
    }
}

body{
    background-image: url(../img/cork.png);
    z-index: -1;
}

.overlay{
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2;
}

.index{
    z-index: -2;
}

.card{
    --bs-card-spacer-y: 0;
    --bs-card-title-spacer-y: 0;
    --bs-card-spacer-x: 0;
    padding: 1rem;
    position: relative;
    margin: auto;
    margin-bottom: 1.5rem;
    #pin{
        position: absolute;
        right: 8rem;
        top: -1rem;
    }
    .card-subtitle{
        font-family: "Sometype Mono", monospace;
        margin-top: 1rem;
    }
    .card-title{
        font-family: "Edu TAS Beginner", cursive;
        font-weight: 700;
    }
}

.h5, h5 {
    font-size: 2rem;
}

@media screen and (min-width: 992px){
    #site_header{
        h1{
            font-size: 4rem;
        }
    }
}

@media screen and (min-width: 1200px){
    #site_header{
        h1{
            font-size: 5rem;
        }
    }
}