#site_header{
    padding: 1rem;
    background-image: url(../img/wall.png);
    z-index: -1;
    font-family: "Edu TAS Beginner", cursive;
    margin-bottom: 3rem;
    h1{
        font-size: 3.5rem;
        font-weight: 600;
    }
}

body{
    background-image: url(../img/cork.png);
    z-index: -1;
}

.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
    cursor: pointer;
}

.overlay_btn{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay_img{
    width: 400px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card{
    --bs-card-spacer-y: 0;
    --bs-card-title-spacer-y: 0;
    --bs-card-spacer-x: 0;
    padding: 1rem;
    position: relative;
    margin: auto;
    margin-bottom: 1.5rem;
    #pin{
        position: absolute;
        right: 8rem;
        top: -1rem;
    }
    .card-subtitle{
        font-family: "Sometype Mono", monospace;
        margin-top: 1rem;
    }
    .card-title{
        font-family: "Edu TAS Beginner", cursive;
        font-weight: 700;
    }

}

.col:hover{
    transition: 0.3s;
    transform: rotate(10deg) scale(1.2);
    z-index: 2;
    cursor: pointer;
}

.h5, h5 {
    font-size: 2rem;
}

@media screen and (min-width: 992px){
    #site_header{
        h1{
            font-size: 4rem;
        }
    }
}

@media screen and (min-width: 1200px){
    #site_header{
        h1{
            font-size: 5rem;
        }
    }
}